.services {
  color: white;
}
/* services_direction (SVG) */

.services_direction {
  padding: 30px 60px;
  text-transform: uppercase;
}
.services_direction svg {
  margin: 0 10px;
}

.active:first-child {
  color: #bb9e84;
}

.services_header {
  text-align: center;
  margin: 0 0 40px 0;
}
.services_header-title {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.services_header-text {
  font-size: 30px;
  line-height: 218.52%;
}
.services_header-text p:last-child {
  font-size: 20px;
}
.services_container {
  display: flex;
  margin: 0 0 60px 0;
}
.services_item {
  flex: 0 0 33.333%;
  text-align: center;
}
.services_item-image {
  margin: 0 0 30px 0;
}
.services_title {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
}
.services_text {
  font-size: 20px;
  line-height: 215.02%;
}
.main_footer {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}
.main_footer-text {
  margin: 0 0 54px 0;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}
.main_footer-text svg {
  margin: 0 30px;
}
.main_footer-text i {
  text-decoration: underline;
}
.main_footer-title {
  font-size: 36px;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main_footer-email {
  font-size: 16px;
  line-height: 158.02%;
  margin-bottom: 30px;
}

/* ------ */

.main_footer_image {
  display: flex;
  justify-content: space-around;
}
.main_footer_img {
  height: 219px;
  width: 218px;
  margin: 0 0 40px 0;
}
