.footer {
  width: 100%;
  background-color: black;
  padding: 40px 0 45px;
  border-top: 2px solid #fff;
  text-align: center;
}

.footer_block {
  width: 450px;
  height: 69px;
  margin-left: auto;
  margin-right: auto;
}
.footer_text {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.footer_text span {
  padding: 0 10px;
}
.footer_text p {
  margin-bottom: 24px;
}
.footer_logo {
  text-decoration: none;
  color: white;
}
.footer_logo:hover {
  opacity: 0.5;
}
