.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  position: sticky;
  top: 0;
}

.nav li {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  align-items: center;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

.nav a {
  padding: 0 13px;
  color: #ededed;
  text-decoration: none;
}

.logo {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #ffffff;

  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.icon {
  display: flex;
}
.icon a {
  margin-left: 16px;

  display: flex;
  align-items: center;
}
